{%- set name = "DSW" -%}
{%- set fullName = "AV ČR FAIR Wizard" -%}
{%- set linkUrl = "https://avcr.fair-wizard.com/wizard/" -%}
{%- set link = "avcr.fair-wizard.com" -%}
{# {%- set image = '/svg>' -%} #}